/* Main page only */
/* IPhone SE as reference */
* {
 text-align: center;   
 margin: 0;
}
.Header {
    background-color: black;
    color: white;
}
.Header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: .25em 0 .25em .5em;
    color: white;
    text-align: left;
}
a {
    display: block;
    font-family: Helvetica;
    margin: 5vh 0 3vh 0;
    padding: 2vh 0 2vh 0;
    font-size: 1.5em;
    color: blue;
    text-decoration: none;
}
img {
    max-width:100%;
    max-height:100%;
    margin-top: 2vh;
}
.Footer .fab {
    font-size: 2em;
    color: white;
}
.Footer {
    background-color: black;
    overflow: hidden;
}
p {
    margin-top: 2vh;
    color: white;
}
/* Tablet */
@media (min-width: 760px) {
    .Header h1 {
        font-size: 3em;
    }
    .Footer .fab {
        font-size: 3em;
    }
    .a {
        font-size: 2em;
        width: 25%;
    }
}
/* Desktop */
@media (orientation: landscape) {
    .Header h1 {
        font-size: 4em;
    }
    .Footer .fab {
        font-size: 3em;
    }
    img {
        width: 40%;
    }
    a {
        font-size: 2em;
    }
}