/* IPhone SE */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}
.Menu {
    background-color: black;
}
.Menu h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-bottom: 3vh;
    color: white;
}
.Menu .fab {
    padding: 1em;
    font-size: 2em;
    color: white;
}
a {
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 2vh;
}
a:visited {
    color: black;
}
.Start {
    padding: 5vh 0 0 0;
}
.Start h1 {
    font-family: Helvetica;
    font-size: 4em;
}
.Stars {
    width: 100%;
    padding: 5vh 0 7vh 0;
}
img {
    object-fit: contain;
    width: 100%;
    height: 0 auto;
    margin-bottom: 3vh;
}
p {
    font-family: Helvetica;
    line-height: 1.5em;
    padding: 1em;
}
p em {
    color: green;
}
h2 {
    padding: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}