body {
    background-color: black;
    color: white;
    font-family: Helvetica;
}
h1 {
    margin: 5vh 0 5vh 0;
    color: white;
    font-size: 2.5em;
}
.Links {
    margin: auto;
    width: 50%;
}
.Links a {
    display: flex;
    justify-content: center;
    color: white !important;
    font-size: 1.7em;
    margin-bottom: 10vh;
}
/* Tablet */
@media (min-width: 760px) {
    h1 {
        font-size: 4.5em;
    }
    .Links a {
        font-size: 3.7em;
    }
    img {
        width: 75% !important;
    }
}
/* Mac Laptop */
@media (min-width:1000px) {
    h1 {
        font-size:  6.5em;
    }
    .Links {
        width: 25%;
    }
    .Links a {
        font-size: 4.7em;
    }
    img {
        width: 50% !important; 
    }
}